.page-range {
  font-style: italic;
  color: lightslategray;
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px;
}

.navigation li a:link,
.navigation li a:visited,
.navigation li a:hover,
.navigation li a:active {
  color: #585858;
}
